.close .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    background: #eee;
}

/* header-start */
.main-header {
    margin: 20px;
}

@media (min-width: 500px) {
    .main-header {
        margin: 60px 0 100px;
    }
}

.main-search {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .main-search {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-search>input {
    margin-right: 10px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
}

.main-search>button {
    padding: 0 28px;
    font-size: 16px;
    white-space: nowrap;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: #0282B9;
}

/* header-end */

/* main-start */
.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

@media (min-width: 500px) {
    .site-list {
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }
}

.site-list>li {
    margin-bottom: 10px;
}


@media(min-width: 500px) {
    .site-list>li {
        margin-right: 25px;
    }
}

.site-list .site {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    width: 160px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
}

.site-list .site>.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    font-size: 64px;
    text-transform: uppercase;
}

.site-list .site>.link {
    font-size: 14px;
    margin-top: 4px;
}

.site-list .site>.close {
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
    cursor: default;
}

.site-list .site:hover>.close {
    display: block;
}

@media(max-width: 500px) {
    .site-list .site:hover>.close {
        display: block;
    }
}

@media(min-width: 500px) {
    .site-list .site>.close {
        display: block;
    }
}

.last>.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    width: 160px;
    border: 1px solid #ddd;
    background: #fff;
}

.last .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
}

.add-button .icon {
    width: 56px;
    height: 56px;
}

.add-button .text {
    font-size: 14px;
    margin-top: 4px;
}



/* main-end */